{#
/**
 * @file
 * Feature cards pattern.
 */
#}
{{ attach_library('ui_patterns/feature_card.feature_card_library') }}
<div class="feature-cards">
  {# Break up the individual items in to the appropriate template var. #}
  {% for item in items %}
    {% set vars = {
      'link': item.link,
      'image': item.image,
      'tag': item.tag,
      'description': item.description
      }
    %}
    {# Pass vars through to include template. #}
    {% include '@stanford_components/molecules/feature-card/feature-card.html.twig' with vars %}
  {% endfor %}
</div>
