{#
/**
 * @file
 * Paragraph Filmstrip
 */
#}
{# Attach the film card css and js #}
{{ attach_library('ui_patterns/filmstrip.filmstrip_library') }}
<div class="paragraph__filmstrip">
{% embed "@stanford_components/molecules/filmstrip/filmstrip.html.twig" ignore missing %}
{% endembed %}
</div>
