// When many film-cards are displayed in a single filmstrip, they should be
// be aligned horizontally.
.filmstrip {
  .film-card,
  .filmstrip__top_border,
  .filmstrip__title {
    float: none;
    margin: 0 auto 20px;
    text-align: center;

    @media (min-width: 768px){
      margin: 0 18px 20px 0;
      text-align: left;
    }
  }

  .film-card {
    @media (min-width: 768px) {
      float: left;
      width: 220px;
    }
  }
}
