@charset 'UTF-8';

@import "decanter/core/utilities/decanter-utilities";

.secondary-sidebar-nav {
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding: 0px;

  li {
    list-style: none;
    list-style-type: none;
  }

  ul.menu {
    margin-left: 20px;
  }

}
