{#
/**
 * @file
 * Postcard pattern.
 */
#}
<div class="postcard">
  <div class="postcard__image">
    {{ image }}
  </div>
  <div class="postcard__content">
    <h3>{{ title }}</h3>
    {{ text }}
  </div>
</div>
