{#
/**
 * @file
 * Simple Slats pattern.
 */
#}
{{ attach_library('ui_patterns/simple_block.simple_block_library') }}
{{ attach_library('ui_patterns/simple_slat.simple_slat_library') }}
<div class="simple-slats">
  {# Break up the individual items in to the appropriate template var. #}
  {% for item in items %}
    {% set vars = {
      'image': item.image,
      'is_slat': item.is_slat,
      'link': item.link,
      'description': item.description,
      'tag': item.tag,
      'title': item.title
      }
    %}
    {# Pass vars through to include template. #}
    {% include '@stanford_components/molecules/simple-block/simple-block.html.twig' with vars %}
  {% endfor %}
</div>
