{#
/**
 * @file
 * Callout blocks pattern.
 */
#}

{% set header_vars = {'superhead': title,'is_centered': is_centered,'dash_under': dash_under, 'context': context} %}
{% set attributes = attributes.addClass(['section-callout-blocks']) %}

<div{{ attributes }}>
  {{ pattern('section_header', header_vars) }}
  <div class="callout-blocks">
    {# Break up the individual items in to the appropriate template var. #}
    {{ pattern('callout_blocks', {'items': items}) }}
  </div>
</div>
