@charset 'UTF-8';

.cta-with-image {
  .button__simple-cta {
    background-color: #FFBD54;
    font-size: 20px;
    text-align: center;
    padding: .5em;
    color: #333333;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  }

  a.button__simple-cta:hover,
  .button__simple-cta:hover {
    text-decoration: none;
    background: #00ECE9;
    color: #333333;
  }
}
