{#
/**
 * @file
 * Filmstrip pattern.
 */
#}

{% set header_vars = {
  'superhead': superhead,
  'subhead': subhead,
  'context':context
} %}

{% set strip_vars = {
  'items': items,
  'context':context
} %}

{% set attributes = attributes.addClass(['section-callout-filmstrip', variants.has_columns]) %}

{# has-columns: adds two column layout to filmstrip #}
<div{{ attributes }}>
  <div class="filmstrip__header">
    {{ pattern('section_header', header_vars) }}
  </div>

  <div class="filmstrip__container">
    {{ pattern('filmstrip', strip_vars) }}
  </div>
</div>
