{#
/**
 * @file
 * Filmstrip pattern.
 */
#}
{# Attach the film card andf filmstrip css and js #}
{{ attach_library('ui_patterns/section_header.section_header_library') }}
{{ attach_library('ui_patterns/film_card.film_card_library') }}
{{ attach_library('ui_patterns/filmstrip.filmstrip_library') }}
{# Template HTML #}
{# has-columns: adds two column layout to filmstrip #}
<div class="section-callout-filmstrip has-columns"> 
  <div class="filmstrip__header">
    {%  set header_vars = {
      'superhead': superhead,
      'subhead': subhead,
      'is_centered': is_centered,
      'dash_under': dash_under
    } %}
    {% include '@stanford_components/molecules/section-header/section-header.html.twig' with header_vars %}
  </div>

  <div class="filmstrip__container"> 
    {%  set strip_vars = {
      'is_flexible': is_flexible,
      'is_tight': is_tight,
      'items': items
    } %}
    {% include '@stanford_components/molecules/filmstrip/filmstrip.html.twig' with strip_vars %}
  </div>
</div>
