{#
/**
 * @file
 * Callout card pattern.
 */
#}
<div class="callout-card">
  <div class="callout-card__title">
    <h3 class="callout-card__title--name"><a href="{{ link }}">{{ title }}</a></h3>
  </div>
  <a class="callout-card__action" href="{{ link|render|striptags|trim }}">
    <svg class="i-svg i-svg--arrow-right"><use xlink:href="#i-arrow" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
  </a>
  <div class="callout-card__icon">{{ image }}</div>
</div>
