{#
/**
 * @file
 * Simple blocks pattern.
 */
#}
<div class="simple-blocks">
  {# Break up the individual items in to the appropriate template var. #}
  {% for item in items %}
    {% if item.title is not empty %}
      {% set vars = {
        'description': item.description,
        'image': item.image,
        'link': item.link,
        'tag': item.tag,
        'title': item.title,
        'context': context
        }
      %}
      {{ pattern('simple_block', vars) }}
    {% else %}
      {{ item }}
    {% endif %}
  {% endfor %}
</div>
