@charset 'UTF-8';
////
/// A template for a very simple card.
////

@import "decanter/core/utilities/decanter-utilities";
@import "decanter/core/components/cards/card";

///
/// Card class.
///
.simple-card {
  @include card(1, #F0F0F0);
  @include grid-column(1 of 3);

  .simple-card__thumbnail {
    img {
      max-width: 100%;
      width: 100%;
    }
  }

  h3 {
    @include font-size(modular-scale(1.1));
    margin: 0px;
    padding: 0px;
  }

  .simple_card__caption {
    color: color(text);
  }

}
