{#
/**
 * @file
 * Card pattern.
 */
#}
<div class="simple-card">
  <div class="simple-card__thumbnail">
    {{ image }}
    <div class="simple-card__caption">
      <h3>{{ title }}</h3>
      {{ text }}
    </div>
  </div>
</div>
