@charset 'UTF-8';

////
/// A template for a very simple card.
////

@import "decanter/core/utilities/_decanter-utilities";

.hero-with-overlay {
  text-align: center;
  height: 600px;
  overflow: hidden;
  position: relative;

  .hero-with-overlay__image {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    
    img {
      width: 100%;
      min-width: 100%;
    }
  }

  .hero-with-overlay__superhead {
    position: relative;
    z-index: 10;
    width: 60%;
    margin: 200px 20% 0 20%;
  }

  .hero-with-overlay__subhead {
    position: relative;
    z-index: 10;
  }

  .hero-with-overlay__shade {
    background: linear-gradient(180deg, rgba(26,26,26,0) 0%, rgba(51,51,51,0.95) 100%);
    height: 100%;
    width: 100%;
    display: block;
    z-index: 5;
    position: absolute;
  }

}
