@charset 'UTF-8';

////
/// A template for a very simple card.
////

@import "decanter/core/utilities/_decanter-utilities";

.hero-with-overlay {

  .hero-with-overlay__superhead {
    * {
      color: #FFF;
      background-color: rgba(83,40,79,0.85);
      padding: 0.5em 0;
      font-weight: 300;
    }
  }

  .hero-with-overlay__subhead {
    * {
      color: #FFF;
    }
  }


}
