@charset 'UTF-8';

@import 'decanter/core/utilities/decanter-utilities';

// Grab our mixins.
@import 'patterns/utilities/utilities';

.masonry-block {
  position: relative;

  &.has-background {
    background-size: cover;
    padding-top: 120px;

    &.is-tall {
      padding-top: 300px;
    }

    &.has-tint {
      @include image-overlay;
    }
  }

  &.is-inverted {
    padding-top: 60px;
  }

  &.is-wide {
    .masonry-block__tile {
      font-size: 30px;
    }
  }
}

.masonry-block__link {
  position: relative;
  display: block;
}

.masonry-block__thumbnail {
  display: inline-block;
  position: relative;

  img {
    display: block;
  }
}

.masonry-block__tags {
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 2;
}

.masonry-block__content {
  position: relative;
}

.masonry-block__header {
  padding: 15px 30px;
}

.masonry-block__date {
  float: left;
  padding-right: 10px;

  svg {
    margin-right: 5px;
  }
}

.masonry-block__footer {
  @include grid-container;

  svg {
    height: 13px;
    vertical-align: middle;
    display: inline;
  }
}

.masonry-block__actions {
  float: right;
}

.masonry-block__social-links {
  display: inline-block;
  padding-right: 5px;
}

.masonry-block__social-link {
  display: inline-block;
  padding: 0 5px;
}

.masonry-block__arrow {
  margin-left: 10px;
}
