{#
/**
 * @file
 * Hero pattern.
 */
#}
<div class="hero-with-overlay">
  <div class="hero-with-overlay__image">
    {{ image }}
  </div>
  <div class="hero-with-overlay__content">
    {{ title }}
    <span class="hero-with-overlay__content__text">{{ teaser }}</span>
  </div>
</div>
