{#
/**
 * @file
 * Hero pattern.
 */
#}
<div class="hero-with-overlay">
  <div class="hero-with-overlay__image">
    {{ image }}
  </div>
  <span class="hero-with-overlay__shade"></span>
  <div class="hero-with-overlay__superhead">{{ superhead }}</div>
  <div class="hero-with-overlay__subhead">{{ subhead }}</div>
</div>
