{#
/**
 * @file
 * Photo Social pattern.
 */
#}
{% set attributes = attributes.addClass("photo-social") %}
<div{{ attributes }}>
  <img class="social-media__badge" src="/modules/stanford/stanford_components/assets/instagram.png"/>
    {{ link|openlink({class: 'photo-social__action'}) }}
      {{ image }}
    {{ link|closelink }}
</div>
