{#
/**
 * @file
 * Link item pattern.
 */
#}
<a href="{{ link|render|striptags|trim }}" class="link-item">
  <span class="link-item__title">{{ title }}
    {% if subtitle is not empty %}
    <span class="link-item__subtitle">{{ subtitle }}</span>
    {% endif %}
  </span>
</a>
