{#
/**
 * @file
 * Highlight cards pattern.
 */
#}
{{ attach_library('ui_patterns/callout_card.highlight_card_library') }}
<div class="highlight-cards">
  {# Break up the individual items in to the appropriate template var. #}
  {% for item in items %}
    {% set vars = {
      'link': item.link,
      'title': item.title,
      'intro': item.intro,
      'description': item.description
      }
    %}
    {# Pass vars through to include template. #}
    {% include '@stanford_components/molecules/highlight-card/highlight-card.html.twig' with vars %}
  {% endfor %}
</div>
